@import '../../common/colors.scss';

.item-listing {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 400px;
    // height: 400px;
    overflow: hidden;
    border: 1px solid var(--light-border-color);
    box-shadow: 0 0 2px var(--font-primary),
        0 0 5px var(--font-primary),
        0 0 10px var(--font-primary);
    border-radius: 30px;
    margin: 20px 20px 20px 0;
    color: var(--font-primary);
    text-decoration: none;
    transition: var(--transition);

    &__info {
        padding: 30px;
        
        p {
            margin: 10px 0;
        }
    }

    &__image {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    &__title {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        

        span {
            text-decoration: underline;
        }
    
    }
    

    @media screen and (min-width: 1024px) {
        &:hover {
            box-shadow: 0 0 5px var(--box-shadow-color),
                        0 0 10px var(--box-shadow-color),
                        0 0 15px var(--box-shadow-color);
            transform: scale(102%);
        }
    }

    &__btn-more {
        display: block;
        margin-top: 20px;
        padding: 15px;
        margin: 20px auto;
        border: 1px solid var(--light-border-color);
        border-radius: 15px;
        max-width: fit-content;
        text-decoration: none;
        color: $white-color;
        font-weight: 700;
        background-color: $dark-neon-blue-color;
        transition: var(--transition);

        &:hover {
            box-shadow: 0 0 5px var(--box-shadow-color),
                    0 0 10px var(--box-shadow-color),
                    0 0 15px var(--box-shadow-color);
        }
    }
}