@import '../../common/colors.scss';

.movie-listing {
    flex: 1;
    display: flex;
    flex-direction: column;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
    }

    &__season-row {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid var(--light-border-color);
        border-radius: 15px;
        overflow: hidden;
        max-width: fit-content;
        margin-bottom: 40px;
        transition: var(--transition);
    }

    &__season-tab {
        padding: 15px;
        border-right: 1px solid var(--light-border-color);
        cursor: pointer;
        transition: var(--transition);
        font-weight: 700;

        &:last-child {
            border-right: none;
        }

        &_active {
            background-color: #03697D;
            color: $white-color;
            font-weight: 700;
        }
    }
}