@import '../../common/colors.scss';

.header {
    background-color: var(--secondary-color);
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 10px var(--box-shadow-color),
        0 0 20px var(--box-shadow-color),
        0 0 30px var(--box-shadow-color);
    transition: var(--transition);

    @media screen and (max-width: 576px) {
        padding: 20px 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        color: var(--font-primary);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition: var(--transition);
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__user-image {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--font-primary);
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            transition: var(--transition);
            font-weight: 700;
            font-size: 12px;
            transform: translate(20%, -20%);
        }

        svg {
            width: 50px;
            height: 50px;
            fill: var(--primary-blue-color);
            transition: var(--transition);
        }
        
    }
}