@import '../../common/colors.scss';

.theme-toggler {
    display: flex;
    
    input {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: 200px;
        border: 1px dashed var(--primary-blue-color);
        border-radius: 15px;
        padding: 15px;
        justify-content: space-between;
        font-weight: 700;
        transition: var(--transition);
    }

    &__checkbox {
        width: 50px;
        height: 23px;
        background-color: $white-color;
        border-radius: 15px;
        position: relative;
        transition: var(--transition);
        border: 3px solid var(--border-color);


        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 3px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: translate(0, -50%);
            background-color: $dark-neon-blue-color;
            transition: var(--transition);
        }

        &_active {
            background-color: var(--secondary-blue-color);

            &::after {
                background-color: $white-color;
                left: 100%;
                transform: translate(calc(-100% - 5px), -50%);
            }
        }
    }
}