@import '../../common/colors.scss';

.item-listing {
    padding: 0;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-height: 100%;
    margin: 20px 20px 20px 0;

    &__info {
        padding: 30px;
        
        p {
            margin: 10px 0;
        }
    }

    &__image {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    &__title {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        

        span {
            text-decoration: underline;
        }
    
    }
    

    @media screen and (min-width: 1024px) {
        &:hover {
            box-shadow: 0 0 5px var(--box-shadow-color),
                        0 0 10px var(--box-shadow-color),
                        0 0 15px var(--box-shadow-color);
            transform: scale(102%);
        }
    }

    &__btns {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

    &__btn-more {
        margin: 0;
    }

    &__like {
        cursor: pointer;
        padding: 0 15px;
        margin: 0;
        background-color: transparent;
        transition: var(--transition);

        svg {
            width: 30px;
            height: 30px;
            fill: var(--red-color);
            pointer-events: none;
            transition: var(--transition);
        }

        &_active {
            background-color: var(--red-color);

            svg {
                fill: $white-color;
            }
        }
    }
}