$primary-color: #0f171e;
$black-color: #000000;
$white-color: #ffffff;
$secondary-color: #1a242f;
$font-primary: #ffffff;
$font-secondary: #79b8f3;
$neon-blue-color: #14faff;
$dark-neon-blue-color: #03697D;
$light-grey-color: #F5F5F5;
$title-color: #818CAB;